################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/out/build/Linux-GCC-Debug/.cmake/api/v1/reply/index-2024-06-21T02-57-40-0474.json
/database/db_config.h
/out/build/Linux-GCC-Debug/.cmake/api/v1/reply/cache-v2-03ab5bdd317fdcdc6162.json
/out/build/Linux-GCC-Debug/isenseconfig/iconfig.json
/out/build/Linux-GCC-Debug/.cmake/api/v1/reply/cmakeFiles-v1-16d672cf7e02c34ff7fb.json
/out/build/Linux-GCC-Debug/.cmake/api/v1/reply/codemodel-v2-1fb42339a39cd57c0b05.json
/out/build/Linux-GCC-Debug/.cmake/api/v1/reply/index-2024-07-27T10-59-18-0901.json
/out/build/Linux-GCC-Debug/.cmake/api/v1/reply/target-MyCppProject-Debug-0c006f36d11dc03aece0.json
/out/build/Linux-GCC-Debug/.cmake/api/v1/reply
/out/build/Linux-GCC-Debug/isenseconfig/iconfig.json
/ter
