################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/out/build/Linux-GCC-Debug/.cmake/api/v1/reply/index-2024-06-21T02-57-40-0474.json
